* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 90%;
}

.header-img img {
  border-radius: 12px;
  display: block;
  height: 101px;
  margin: 0 auto;
  width: 101px;
}

.header-info {
  font-weight: 600;
  margin: 12px 0 12px 0;
  text-align: center;
}

.header-info h2 {
  color: #4e5150;
  line-height: 17px;
  margin-bottom: 8px;
}

.header-info p {
  color: #a9a9a9;
  font-size: 10px;
  line-height: 12px;
}

.header-description {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-description .card {
  background-color: #e5e5e5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 52px;
  justify-content: center;
  text-align: center;
  width: 78px;
  /* padding: 10px 15px 6px 15px; */
}

.header-description .card h3 {
  color: #4e5150;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
}

.header-description .card p {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.gallery {
  margin-top: 40px;
  padding: 0 12px 0 12px;
}

.gallery-container {
  display: grid;
  gap: 12px;
  grid-template-columns: 109px 109px 109px;
  grid-template-rows: 109px 109px 109px;
  grid-template-areas:
    "image-1 image-2 image-2"
    "image-3 image-3 image-4"
    "image-5 image-6 image-4";
}

.gallery-container img {
  border-radius: 12px;
  width: 100%;
}

.gallery-img-1 {
  grid-area: image-1;
}

.gallery-img-2 {
  grid-area: image-2;
}

.gallery-img-3 {
  grid-area: image-3;
}

.gallery-img-4 {
  grid-area: image-4;
}

.gallery-img-5 {
  grid-area: image-5;
}

.gallery-img-6 {
  grid-area: image-6;
}

/* -- Footer -- */
.footer {
  margin: 44px 0 24px 0;
  text-align: center;
}

.footer-description {
  color: #b9bdcf;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.footer-description a {
  color: #b9bdcf;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
